/*second page style*/
.container {
    width: 100vw;
    height: 100vh;

    background: #E5E5E5;
    font-family: 'Arimo', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-border{
    background: #3A4965;
    width: 1197px;
    height: 660px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 1140px;
    height: 612px;
    background: #F2F2F2;
}
/*THEAD*/
.thead {
    border-bottom: 12px solid #3A4965;
}

.head-column {
    font-size: 20px;
    font-weight: 700;
    color: #484848;

    text-transform: uppercase;
}

.wrap-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-top: 20px;
}

.head-column:first-child {
    width: 198px;
}

.head-column:nth-child(2n) {
    width: 157px;
    height: 100px;

    background: #E3E3E3;
}

.head-column:not(:first-child) {
    width: 157px;
}

.plan-style {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.choose-style {
    font-weight: 700;
    font-size: 14px;
}
/*TBODY*/
.body-column {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #484848;

    text-transform: uppercase;
    text-align: center;

    border-top: 2px solid #D2D2D2;
}

.package-type {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

    text-transform: uppercase;
}

.price-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    color: #FFFFFF;
}

.low-price-style {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.duration {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;

    text-transform: uppercase;
}

.first-bg-body-column {
    background: #89C331;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    height: 167px;
}

.second-bg-body-column {
    background: #F04A56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    height: 167px;
}

.third-bg-body-column {
    background: #20807C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    height: 167px;
}

.body-column:nth-child(2n) {
    background: #E3E3E3;
}

.body-description-style {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.btn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.package-type {
    padding-top: 23px;
}

.price-style {
    padding-top: 4px;
    display: flex;
}

.low-price-style {
    position: relative;
    bottom: 9px;
}

.duration {
    position: relative;
    bottom: -6px;
}

.btn {
    position: relative;
    top: 13px;
    border: 0;
    border-radius: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;

    text-transform: uppercase;
    text-decoration: none;

    background: #414141;
    padding: 8px 35px 8px 35px;
}

.shadow-box-btn {
    width: 100%;
    height: 9px;
    position: absolute;
    bottom: 0;
    left: 0;

    background: #343434;
    border-radius: 0 0 5px 5px;
}
